name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24.13.1
          cache: pnpm

      - name: Install
        run: pnpm install

      - name: Build
        run: pnpm build

      - name: Test
        run: |
          pnpm test:ci
          pnpm test:coverage

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./packages/core/coverage/lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
